{% extends "base.html" %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}

  <h1> {{ post.title }} </h1>

  <p> {{ post.content }} </p>
  <div> By {{post.user.first_name}} {{post.user.last_name}} </div>
  
  <a href="/users/{{post.user.id}}"><button class = "post_cancel"> Cancel </button></a>
  <a href="/posts/{{post.id}}/edit"><button class = "post_edit"> Edit </button></a>
  <form action="/posts/{{post.id}}/delete" method="POST">
    <input type="submit" value="Delete"> 
  </form> 
{% endblock %}